@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.main-header-logo {
  width: 138px;
  margin-left: 70px;
}

.navigation-link {
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
  width: 339px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.navigation-user {
  width: 268px;
  margin-right: 70px;
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  text-decoration: none;
  border: 0;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.rating-button {
  width: 140px;
  height: 37px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #F2F2F2;
  color: #333333;
  border-radius: 4px;
}

.pagination-button {
  width: 60px;
  background: #82B3D3;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.blue {
  background: #82B3D3;
}

.green {
  background: #7DB54F;
}

.invisible {
  border: none;
  background: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  background: url("../images/index/hero.jpg") no-repeat;
  background-color: #FFFFFF;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 767px;
}

.hero-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hero-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}

.advantages-foto {
  width: 800px;
  height: 384px;
}

.advantages-list-advice {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

  /*
  list-style-type: none;
  width: 400px;
  min-height: 384px;
  */
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.white-text {
  color: #FFFFFF;
}

.background-1 {
  background: rgba(131, 179, 211, 0.12);
}

.background-2 {
  background: rgba(131, 179, 211, 0.2);
}

.background-3 {
  background: #82B3D3;
  color: #FFFFFF;
}

.search {
  /*width: 1200px;*/
  display: flex;
  flex-direction: column;
  min-height: 406px;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
}

.search-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe {
  background-image: url("../images/index/footer-background.jpg");
  background-color: #000000;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 415px;
  justify-content: center;
}

.alternative-subscribe {
  background: #FFFFFF;
  width: 1200px;
  min-height: 415px;
}

.subscribe-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.alternative-subscribe-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.alternative-subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.appointent-form {
  text-align: center;
}

.page-footer {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
}

.footer-social-list {
  list-style-type: none;
  width: 142px;
  margin-left: 70px;
  padding: 0;

}

.footer-social-item {
  width: 47px;
}

.footer-contact-academy {
  margin-right: 70px;
}

.inner-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.navigation-div {
  width: 1060px;
  margin: 35px 70px 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  width: 495px;
  margin: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  min-width: 114px;
  height: 21px;
  flex-direction: row;
}

.breadcrumbs-items {
  padding-right: 10px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-products {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.left-filter {
  width: 371px;
  display: flex;
  align-items: flex-start;
}

.right-filter {
  width: 549px;
  min-height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 70px;
}

.cost {
  padding: 0;
  margin: 0;
  border: 0;
  align-items: flex-start;
}

.button-div {
  display: flex;
  width: 191px;
  height: 104px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.catalog-form {
  display: flex;
  flex-direction: row;
  width: 1060px;
  height: 160px;
  align-items: flex-start;
  padding: 0;
  gap: 70px;
}

.catalog-form-dual {}

.catalog-filter-group {
  padding: 0px;
  border: 0;
  min-width: 150px;
  height: 157px;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 32px;
  margin-bottom: 0;

}

.cost-tittle {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: o;
}

.search-result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1060px;
  height: 49px;
  margin: 50px 70px 40px;
}

.result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 192px;
  margin-top: 0;
  margin-bottom: 0;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  min-height: 896px;
  margin-right: 70px;
  margin-left: 70px;
}

.product-list {
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.product-item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 340px;
  height: 438px;
}

.product-item-link {
  text-decoration: none;
}

.product-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.pagination-div {
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin: 40px 70px 60px;
}

.pagination {
  list-style-type: none;
}

.pagination-item {
  padding: 8px;

}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.pagination-current {
  color: #000000;
}

.pagination-item {
  width: 60px;
  height: 60px;
  text-align: center;
}
