@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
}

.navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  height: 64px;
  align-items: center;
  position: relative;
}

.main-header-logo {
  width: 138px;
  margin-left: 70px;

}

.icon-sedona {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 70px;
}

.navigation-link {
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
  min-width: 400px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.navigation-user {
  min-width: 300px;
  margin-right: 70px;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.navigation-item {
  display: block;
  min-height: 24px;
  padding: 22px 12px;
  cursor: pointer;
}

.navigation-link-current {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #756257;
  padding-bottom: 18px;
}

.navigation-search {
  background-image: url('/images/index/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  padding: 22px 0;
}

.navigation-favourites {
  background-image: url('/images/index/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  padding: 22px 0;
  margin-right: 8px;
}

.last-item {
  padding: 14px 0 14px 20px;
}

.main-index {
  flex-grow: 1;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  min-height: 20px;
  padding: 8px 26px;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.big-button {
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  padding: 8px 50px;
}

.rating-button {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 22px;
  text-transform: uppercase;
  background: #F2F2F2;
  color: #333333;
  border-radius: 4px;

}

.pagination-button {
  width: 60px;
  background: #82B3D3;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.blue {
  background: #82B3D3;
  padding: 8px 20px;

}

.green {
  background: #7DB54F;
  padding: 8px 18px;

}

.invisible {
  border: none;
  background: transparent;
  margin-top: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  background: url("../images/index/hero.jpg") no-repeat;
  background-color: #82B3D3;
  min-height: 485px;
}

.hero-introduction {
  display: flex;
  flex-direction: column;
  min-height: 282px;
  justify-content: center;
  background-color: #FFFFFF;
}

.hero-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.hero-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: row;
}

.advantages-block {
  display: flex;
  flex-direction: row;
  width: 1200px;
  min-height: 384px;
  background: #82B3D3;
  color: #FFFFFF;
}

.advantages-container {
  width: 230px;
  padding: 85px;
}

.advantages-foto {
  width: 800px;
  min-height: 384px;
  object-fit: cover;
}

.advantages-list-advice {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  /*
  list-style-type: none;
  width: 400px;
  min-height: 384px;
  */
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px;
  width: 175px;
}

.advantages-line {
  border: rgba(255, 255, 255, 0.3) solid 1px;
  width: 60px;
  margin: 0 auto;
}

.advantages-line-alternative {
  border: rgba(0, 0, 0, 0.3) solid 1px;
  width: 60px;
  margin: 0 auto;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 30px 0 0;
}

.white-text {
  color: #FFFFFF;
}

.background-1 {
  background: rgba(131, 179, 211, 0.12);
}

.background-2 {
  background: rgba(131, 179, 211, 0.2);
}

.background-3 {
  background: #FFFFFF;
}

.advantages-picture {
  display: block;
  min-width: 75px;
  min-height: 76px;
  margin: 0 auto 30px;
}

.icon-home {
  background-image: url(/images/index/home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-food {
  background-image: url(/images/index/food.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-souvenir {
  background-image: url(/images/index/gift.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  min-height: 214px;
  background: #FFFFFF;
  text-align: center;
  padding: 96px 304px;
}

.search-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe {
  background-image: url("../images/index/footer-background.jpg");
  background-color: #000000;
  background-size: cover;
  text-align: center;
  padding: 96px 258px 104px;
}

.alternative-subscribe {
  background: #FFFFFF;
  background-size: cover;
}

.subscribe-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.alternative-subscribe-tittle {
  color: #000000;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 54px;
  margin: 0;
}

.alternative-subscribe-text {
  color: #333333;
}

.appointent-form {
  display: flex;
  justify-content: center;
}

.mail-field {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding-left: 20px;
  background: #F2F2F2;
  border: 0;
  border-radius: 4px 0 0 4px;
}

#submit-button {
  border-radius: 0 4px 4px 0;
}

.page-footer {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  flex-wrap: wrap;
}

.footer-social {
  display: flex;
  min-width: 142px;
  min-height: 40px;
  margin-left: 70px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 142px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-social-item {
  min-width: 48px;
  cursor: pointer;
}

.footer-social-link {
  display: block;
  height: 40px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-phone-number {
  min-width: 332px;
  min-height: 40px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
}

.footer-contact-academy {
  margin-right: 70px;
}

.main-inner {
  background-color: #FFFFFF;
  flex-grow: 1;
}

.inner-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-color: #2173a3;
}

.navigation-div {
  width: 1060px;
  padding: 35px 70px 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  width: 495px;
  margin: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  min-width: 114px;
  min-height: 21px;
  flex-direction: row;
}

.breadcrumbs-items {
  padding-right: 10px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-products {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.cost {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 358px;
  margin-left: auto;
}

.button-container {
  width: 191px;
  min-height: 104px;
  display: flex;
  flex-direction: column;
}

.catalog-form {
  display: flex;
  flex-direction: row;
  width: 1060px;
  min-height: 160px;
  align-items: flex-start;
  padding: 0;
}

.catalog-filter-group {
  padding: 0;
  border: 0;
  min-width: 220px;
  min-height: 157px;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 32px;
  margin-bottom: 0;
}

.cost-tittle {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.search-result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1060px;
  min-height: 49px;
  margin: 50px 70px 40px;
}

.toggle {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000
}

.result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 192px;
  margin-top: 0;
  margin-bottom: 0;
}

.select-control {
  width: 292px;
  min-height: 49px;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-left: 20px;
}

.catalog {
  width: 1060px;
  min-height: 896px;
  padding-right: 70px;
  padding-left: 70px;
}

.product-list {
  list-style-type: none;
  width: 1060px;
  min-height: 896px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-left: 0;
  margin: 0;
}

.product-item {
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.poduct-frame {
  margin: 20px;
}

.text-container {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(3, min-content);
  column-gap: 20px;
  row-gap: 16px;
  align-items: center;
}

.product-item-link {
  text-decoration: none;
}

.product-item-img {
  width: 300px;
  height: 212px;
  margin: 0;
  padding: 0;
  display: block;
  object-fit: contain;
}

.product-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 16px 0;
}

.product-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.product-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.rating {
  display: grid;
  grid-template-columns: repeat(4, 18px);
  gap: 6px;
  margin: 0;
}

.rating-star {
  margin: 0;
  background-image: url(/images/catalog/rating-star.svg);
  width: 18px;
  height: 17px;
  background-position: left;
  background-repeat: no-repeat;
}

.pagination-container {
  width: 1060px;
  margin: 80px 70px 60px;
}

.pagination {
  list-style-type: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(6, 60px);
  column-gap: 8px;
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.pagination-current {
  color: #000000;
  width: 60px;
  background: #F2F2F2;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
}

.pagination-interval {
  background-color: #FFFFFF;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
}

.html-logo {
  object-fit: contain
}
