.hero {
  background: url(../images/index/hero.jpg) no-repeat;
}

.subscribe {
  background-image: url(../images/index/footer-background.jpg);
  background-size: 1200px 415px;
  background-repeat: no-repeat;
}
